/*lasagna.html*/
body {
  font-family: 'Noto Serif', serif;
  margin: 0px;
  padding: 0px;
}

.headerL {
  display: flex;
  justify-content: center;
  margin: 25px 25px 30px;
  color: #3c1813;
}

.description {
 margin-left: 350px;
 font-weight: lighter;
 color: #3c1813;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 25px 350px;
  color: #3c1813;
}

h2 {
  margin: 0px;
}

p {
  margin: 0px;
  width: 25vw;
  line-height: 35px ;
}

.design {
  background-color: #ee4a34;
  margin: 20px 420px;
  height: 15px;
}

.recipe {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 350px;
  margin-right: 345px;
  gap: 100px;
}

ul,
ol{
 padding-left: 0px;
 margin-left: 25px;
 color: #3c1813;
}

ul{
  width: 300px;
}

ol{
  width: 400px;
}

.ingredients {
  color: #3c1813;
}

.steps {
  color: #3c1813;
}
/*garlic-bread.html*/
body {
  font-family: 'Noto Serif', serif;
  margin: 0px;
  padding: 0px;
}

.headerG {
  display: flex;
  justify-content: center;
  margin: 25px 25px 30px;
  color: #212511;
}

.descriptionG {
  margin-left: 350px;
  font-weight: lighter;
  color: #212511;
 }

 .mainG {
  display: flex;
  justify-content: space-between;
  margin: 25px 350px;
  color: #212511;
}

.designG {
  background-color: #6e7e2f;
  margin: 20px 420px;
  height: 15px;
}

.recipeG {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 350px;
  margin-right: 345px;
  gap: 100px;
}

.ingredientsG {
  color: #212511;
}

.stepsG {
  color: #212511;
}

/*milkshake.html*/
body {
  font-family: 'Noto Serif', serif;
  margin: 0px;
  padding: 0px;
}

.headerM {
  display: flex;
  justify-content: center;
  margin: 25px 25px 30px;
  color: #240605;
}

.descriptionM {
  margin-left: 350px;
  font-weight: lighter;
  color: #240605;
 }

 .mainM {
  display: flex;
  justify-content: space-between;
  margin: 25px 350px;
  color: #240605;
}

.designM {
  background-color: #821a17;
  margin: 20px 420px;
  height: 15px;
}

.recipeM{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 350px;
  margin-right: 345px;
  gap: 100px;
}

.ingredientsM {
  color: #240605;
}

.stepsM {
  color: #240605;
}